$defaultSize: 20px;
$totalSize: 84px;
$contentSize: $totalSize/3;
$titleSize: 20px;
$bottomSize: $totalSize/14;
:root {
  --background-image: url("https://avatars.githubusercontent.com/u/42455616?v=4");
}

.audio-player-mini {
  position: fixed;
  left: 0;
  bottom: 16px;
  height: $totalSize;
  width: $totalSize;
  background: var(--background-image) no-repeat center;
  background-size: cover;

  &-mask {
    background-color: rgba(0, 0, 0, 0);
  }

  svg {
    color: white;
  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-sound {
    width: $defaultSize;
    height: $defaultSize;
    padding: 0;
    background-color: transparent;
    text-align: center;
    border: none;
    cursor: pointer;
    visibility: hidden;

    svg {
      width: $defaultSize;
      height: $defaultSize;
    }
  }

  &:hover &-mask {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:hover &-voice {
    visibility: visible;
  }

  &:hover &-sound {
    visibility: visible;
  }

  &:hover &-content {
    visibility: visible;
  }

  &-voice {
    visibility: hidden;
    flex: 1;
    background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);
    border-radius: 4px;
    height: 4px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    margin-right: 4px;

    &::-webkit-slider-thumb {
      width: 8px;
      -webkit-appearance: none;
      height: 8px;
      cursor: pointer;
      background: #82CFD0;
      border-radius: 8px;
    }
  }

  &-content {
    height: $contentSize;
    margin-top: $totalSize/2-$contentSize/2-$titleSize;
    display: flex;
    align-items: center;
    visibility: hidden;

    button {
      width: $contentSize;
      height: $contentSize;
      border: 0;
      padding: 0;
      background-color: transparent;
      cursor: pointer;

      svg {
        height: $contentSize;
        width: $contentSize;
      }
    }
  }

  &-bottom {
    width: 100%;
    height: $bottomSize;
    display: flex;
    align-items: center;
    background-color: rgb(222, 228, 247);
    margin-top: $totalSize/2-$contentSize/2-$bottomSize;
  }

  &-progress {
    height: 100%;
    width: 0;
    background-color: #82CFD0;
    transition: all 0.5s cubic-bezier(0, 0.64, 0.36, 1);
  }
}
